@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Montserrat";
  color: #f5f5f5;
}

.container {
  height: 100vh;
  background-color: #2b2922;
}

.navbar {
  padding-top: 30px;
}

.navbar div {
  display: inline-block;
}

.logo {
  height: 40px;
  margin-left: 80px;
  cursor: pointer;
}

.list {
  margin-left: 300px;
  list-style-type: none;
}

.list-item {
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 5px;
  position: relative;
  bottom: 10px;
}

.list-item:hover {
  cursor: pointer;
  background-color: #f5f5f52e;
}

.list-item:first-child {
  font-weight: 700;
}

.btn {
  margin-left: 40px;
  position: relative;
  bottom: 10px;
  background-color: #2b2922;
  color: #9a8a34;
  border: 2px solid #9a8a34;
  border-radius: 10px;
  padding: 8px 28px;
  font-size: 18px;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #9a8b3421;
}

.heading {
  float: left;
  padding: 25px 0px;
  margin-left: 80px;
  font-size: 45px;
  font-weight: 800;
  line-height: 1.4;
}

.content {
  float: right;
  padding: 50px 0px;
  margin-right: 200px;
  font-size: 15px;
  line-height: 1.4;
}

.banner-image {
  width: 100vw;
  height: 332px;
}

.footer {
  background-color: #2b2922;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.footer > div {
  display: inline-block;
  padding: 12px;
}

.left {
  background-color: #39372d;
}

.right {
  background-color: #9a8a34;
}

.fa-solid {
  font-size: 15px;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.fa-angle-left {
  color: #9a8a34;
  border: 2px solid #9a8a34;
}

.fa-angle-right {
  color: #ffffff;
  border: 2px solid #ffffff;
}
